<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <!-- Add any other necessary meta tags here -->
</head>
<body class="home">
  <!-- Header Section -->
  <header class="header-image">
    <img src="{{ "/assets/python.png" | relative_url }}" alt="Header Image" />
  </header>

  <!-- Main Content -->
  <main>
    {{ content }}
  </main>

</body>
</html>
